@font-face {
    font-family: "Satoshi";
    font-display: block;
    src: local('Satoshi'), url('assets/fonts/Satoshi-Variable.woff2') format('woff2'),
        /* will be preloaded */
        url('assets/fonts/Satoshi-Variable.woff') format('woff'), url('assets/fonts/Satoshi-Variable.ttf') format('truetype'), url('assets/fonts/Satoshi-Variable.eot') format('embedded-opentype');
    /* src: url("assets/fonts/Satoshi-Variable.ttf") format("truetype"); */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* These styles will be purged */

@layer base {
    :root {
        --color-cyan-500: theme('colors.cyan.500');
        --color-purple-500: theme('colors.purple.500');
    }
}

@layer components {}

@layer utilities {}

* {
    font-family: 'Satoshi';
    overflow-x: hidden;
}

.card-shadow-cs {
    box-shadow: 0 10px 44px hsl(0deg 0% 0% / 5%), 0 20px 48px hsl(0deg 0% 0% / 5%), 0 1px 24px hsl(0deg 0% 0% / 5%);
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-shadow-wrapper {
    box-shadow: none;
}

.cub-1 {
    width: 20vh;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scale(1, -1) translate(50%, 0%);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1) translate(50%, 0%);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}

.cub-2 {
    width: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}

.preview-img {
    width: 80vh;
    z-index: 9;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 767.5px) {
    .cub-1 {
        width: 10vh;
    }

    .card-shadow-wrapper {
        margin-top: 1rem;
        margin-bottom: 4rem;
        box-shadow: 0 10px 44px hsl(0deg 0% 0% / 5%), 0 20px 48px hsl(0deg 0% 0% / 5%), 0 1px 24px hsl(0deg 0% 0% / 5%);
    }

    .flex-center {
        /* display: block !important;
        align-items: unset !important;
        justify-content: unset !important; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 991.5px) {
    .flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}